{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'menu_search/autocor.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'menu_search/autocor.css' %}">

{% load json_filters %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>

<div class="form_div"> 
    <table class="dish_form">
        <tbody>
            <form action="" method="post" class="dish_form" autocomplete="off">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <tr class="table_row">
                    <td><div class="autocomplete"> {{ form.dish_name.label }} {{ form.dish_name }} </div></td>
                    <td><input type="submit" value="Search" id="submit_button"></td>
                    <td> {{form.language.label}} {{form.language}} </td>
                </tr>
                <tr>
                    <table>
                        <tr>
                            <td>{{form.order_by_distance.label}} </td>
                            {% for choice in form.order_by_distance.field.choices %}
                            <td>
                                <label for="id_order_by_distance_{{choice.1}}">{{choice.1}}</label> 
                                <input type="checkbox" name="order_by_distance" id="id_order_by_distance_{{choice.1}}" value="{{choice.0}}" onchange="getLocation(event);">
                            </td>
                            {% endfor %}
                            {% if error_message %}  
                            <td><p style="color:red;">     {{error_message}} </p></td>
                            {% endif %}
                        </tr>
                    </table>  
                </tr>
            </form>
        </tbody>
    </table>
</div>

<div id="myDropdown" class="dropdown-content">
</div>

<br><br>

<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div style="width: 800px; display: table-cell; float: left;"> 
            {% if restaurants_list %}
            <table>
                <thead>
                    <tr>
                        <th>Plate</th>
                        <th>Price</th>
                        <th>Restaurant</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants_list %}
                    <tr>
                        <td>{{restaurant.plate_name}}</td>
                        <td>{{restaurant.plate_price}}</td>
                        <td>{{restaurant.restaurant_name}}</td>
                        <td>{{restaurant.restaurant_address}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if restaurants_list_distance %}
            <table>
                <thead>
                    <tr>
                        <th>Plate</th>
                        <th>Price</th>
                        <th>Restaurant</th>
                        <th>Address</th>
                        <th>Distance (Km)</th>
                    </tr>
                </thead>
                <tbody>
                {% for restaurant in restaurants_list_distance %}
                    <tr>
                        <td>{{restaurant.plate_name}}</td>
                        <td>{{restaurant.plate_price}}</td>
                        <td>{{restaurant.restaurant_name}}</td>
                        <td>{{restaurant.restaurant_address}}</td>
                        <td>{{restaurant.distance}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <div style="width: 600px; display: table-cell; float: right;">
            {% if latitude and longitude and found_distances %}
            <div id="mapid" style="height: 600px;  width: 600px;"></div>
            <script type="text/javascript">
                print_map({{latitude}},{{longitude}},"{{ found_distances | jsonify | escapejs }}");
            </script>
            {% endif %}
        </div>

    </div>
</div>